/* class */

[data-title]:after {
    background-color: rgba(30,82,136,0.8) !important;
    border-radius: var(--bs-border-radius) !important;
    color: #FFFFFF !important;
    content: attr(data-title);
    font-family: "Open Sans", verdana, arial, sans-serif !important;
    font-weight: normal !important;
}

[data-title]:before {
    border-left-color: rgba(30,82,136,0.8) !important;
    content: attr(data-title);
}

.accordion {
  padding-bottom: 24px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 0px !important;
}

/* https://stackoverflow.com/questions/77114751/is-it-possible-to-modify-the-arrow-that-collapses-the-sidebar */
.bslib-sidebar-layout > .collapse-toggle > .collapse-icon {
  fill: #989898 !important;
}

.bslib-sidebar-layout.bslib-mb-spacing.html-fill-item {
  border-width: 0px !important;
  margin-bottom: 0px !important;
}

.btn {
  background-color: #FFFFFF; 
  border-color: #001C48; 
  color: #001C48;
  margin-top: 48px !important;
}

.btn:active {
  background-color: #1E5288 !important;
  border-color: #1E5288 !important; 
  box-shadow: 0 0 0 0.1rem rgb(30, 82, 136, 0.2) !important;
  color: #FFFFFF !important;
}

.btn:focus {
  background-color: #FFFFFF;
  border-color: #001C48; 
  box-shadow: 0 0 0 0.1rem rgb(0, 28, 72, 0.2);
  color: #001C48;
}

.btn:hover {
  background-color: #001C48;
  border-color: #001C48; 
  color: #FFFFFF;
}
/*
.card-body.bslib-gap-spacing.html-fill-item.html-fill-container {
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 48px;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
*/
.control-label {
  color: var(--bs-body-color); 
  font-weight: bold;
}

.data-display-title {
  padding-bottom: 1rem !important;
}

.data-options-title {
  padding-bottom: 1rem !important;
}

.form-control:focus {
  border: 1px solid #CCCCCC !important;
  box-shadow: 0 0 0 0.1rem #0000001A;
}

/* https://github.com/plotly/plotly.js/issues/2342 */
.hovertext {
  fill-opacity: 0.85;
}

.main.bslib-gap-spacing.html-fill-container {
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
/* 
.modal-body {
  color: var(--bs-body-color) !important;
}

.modal-content {
  border-radius: var(--bs-border-radius) !important;
  box-shadow: 0px 1px 2px rgba(var(--bslib-box-shadow-color-rgb)) !important;
  padding-top: 0px !important;
}

.modal-dialog.modal-sm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  padding-bottom: 0px !important;
}

.modal-title {
  font-weight: normal !important; 
  margin-top: 0px !important;
} 
*/
.modebar-container {
  top: -8px !important;
}
/*
.page-bottom-text {
  color: #191919;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px !important;
}
*/
.scatterplot-caption {
  color: #606060; 
  font-size: 0.85rem;
  font-style: normal;
  margin-top: 0.5rem;
}
/*
.scatterplot-summary {
  color: #191919;
  font-weight: plain;
  margin-bottom: 0px!important;
  margin-top: 4px !important;
}
*/
.scatterplot-title {
  margin-top: 1.5rem;
  padding-bottom: 1rem !important;
}

.selectize-dropdown .active {
  background-color: rgb(226, 233, 235); 
  color: var(--bs-body-color);
}

.selectize-dropdown .active:not(.selected) {
  background-color: rgb(226, 233, 235); 
  color: var(--bs-body-color);
}

.selectize-dropdown .selected:not(.active) {
  background-color: var(--bs-body-bg); 
  color: var(--bs-body-color);
}

.selectize-input {
  border-color: #CCCCCC !important;
}

.selectize-input.items.full.has-options.has-items {
  border-radius: 0px;
}

.shiny-notification {
  background-color: rgba(30,82,136,0.8) !important; 
  border-radius: var(--bs-border-radius) !important;
  box-shadow: 0px 1px 2px rgba(var(--bslib-box-shadow-color-rgb)) !important;
  color: #FFFFFF !important;
  font-size: 12pt !important;
  font-style: italic !important; 
  font-weight: normal !important;
  left: calc(50% - 150px) !important;
  position: fixed !important; 
  top: calc(50%) !important; 
}
/*
.sidebar-content {
  padding-bottom: 24px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 24px !important;
}
*/
/* id */

#year {
  margin-top: 32px;
}